html {
  scroll-behavior: smooth;
}

body {
  background-color: beige;
}

.interest-section-nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px auto;
}

.interest-section-nav a {
  color: #3d2c1e;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 5px;
}

.interest-section-nav a:hover {
  background-color: rgb(197, 197, 214);
  border-radius:10px;
}

.scroll-label {
  text-align: center;
  color: #666;
  font-style: italic;
  font-weight:bold;
}

.border-tan {
  --bs-border-color: brown;
}

/* === HOME PAGE === */
.main-heading {
  text-align: center;
  font-family: cursive;
  margin: 10px;
  padding: 16px;
  color: #3d2c1e;
  background-color: #f5e6d3;
  border-style: double;
  border-color: #8b6f47;
}

section > h2 {
  color: #c37f1f;
}

.contact {
  background-color: #f5e6d3;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #8b6f47;
}

#journey-btn:hover {
  box-shadow: 0 0 10px red;
}

#journey-counter {
  margin: 5px;
  font-weight: bold;
  font-size: 18px;
  color: grey;
}

/*  climber/mountain  */
.mountain-scene {
  position: relative; /* make it a reference frame for children*/
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.mountain-img {
  width: 100%;
  display: block;
}

.hiker-group {
  position: absolute;
  width: 20%;
  height: auto;
  top: 75%;
  left: 20%;
  transition:
    top 1s ease-in-out,
    left 1s ease-in-out;
}

.bubble:empty {
  display: none;
}

.hiker-img {
  width: 100%;
  display: block;
}

/* bubble CSS properties  */
.bubble {
  position: absolute;
  background: white;
  color: black;
  padding: 8%;
  border-radius: 12px;
  font-size: 14px;
  white-space: normal;
}

.bubble-top {
  width: max-content;
  max-width: 125%;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.bubble-right {
  top: 10%;
  left: 45%;
  white-space: nowrap;
  transform: translateY(-50%);
}

/* === Interests PAGE === */

.movie-card {
  margin-top: 20px;
}

.movie-card img {
  max-width: 100%;
  aspect-ratio: 2/3;
  display: block;
}
.movie-card figcaption {
  font-size: 0.8rem;
  text-align: center;
  color: grey;
  margin-top: 5px;
}

.movies-heading {
  font-family: "Limelight", cursive;
  text-align: center;
}

.marquee-title {
  background-image:
    radial-gradient(circle, gold 3px, transparent 4px),
    radial-gradient(circle, gold 3px, transparent 4px),
    radial-gradient(circle, gold 3px, transparent 4px),
    radial-gradient(circle, gold 3px, transparent 4px);
  background-position: top, bottom, left, right;
  background-size:
    22px 20px,
    22px 10px,
    10px 22px,
    10px 22px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-color: #8b0000;
  color: gold;
  text-align: center;
  padding: 18px;
  font-family: "Limelight", cursive;
  text-shadow: 0 0 4px gold;
}

.games-heading {
  font-family: "Press Start 2P", monospace;
  text-align: center;
}

.synth-title {
  background: linear-gradient(#ff006e, #8338ec, #3a86ff);
  color: #ffd700;
  padding: 20px;
  font-family: "Press Start 2P", monospace;

  text-align: center;
  text-shadow: 2px 2px 0 #000;
}

.game-card {
  margin-top: 25px;
  margin-bottom: 15px;
}

.game-card img {
  max-width: 100%;
  aspect-ratio: 6/3;
  display: block;
}

.game-card figcaption {
  font-size: 0.8rem;
  text-align: center;
  color: grey;
  margin-top: 5px;
}

/* TV Show Tier List */
.shows-heading {
  text-align: center;
  font-family: "Cinzel Decorative", serif;
  font-size: 2.5rem;
}

.tv-title {
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #2c1810;
  border-style: double;
  border-color: #2c1810;
  padding: 10px;
  background-color: rgb(216, 221, 227);
}

.tier-list {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  border: 3px solid darkred;
}

.tier-list td {
  padding: 16px;
  border: 3px solid darkred;
}

/* default label look */
.tier-label {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  width: 80px;
  color: white;
  font-family: "Press Start 2P", monospace;
}

/* add background colors for labels and associated text */
.tier-s .tier-shows {
  background-color: #ffe0e0;
}
.tier-s .tier-label {
  background-color: #d32f2f;
}

.tier-a .tier-shows {
  background-color: #ffe8d0;
}
.tier-a .tier-label {
  background-color: #f57c00;
}

.tier-b .tier-shows {
  background-color: #fff8d0;
}
.tier-b .tier-label {
  background-color: #f9a825;
}

.tier-c .tier-shows {
  background-color: #e0f0d0;
}
.tier-c .tier-label {
  background-color: #689f38;
}
