body {
  background-color: beige;
}

.border-tan {
  --bs-border-color: brown;
}

/* === HOME PAGE === */
.main-heading {
  text-align: center;
  font-family: cursive;
  margin: 10px;
  padding: 16px;
  color: #3d2c1e;
  background-color: #f5e6d3;
  border-style: double;
  border-color: #8b6f47;
}

section > h2 {
  color: #c37f1f;
}

.contact {
  background-color: #f5e6d3;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #8b6f47;
}


#journey-btn:hover {
  box-shadow: 0 0 10px red;
}

#journey-counter {
    margin:5px;
    font-weight: bold;
    font-size:18px;
    color: grey;
}


/*  climber/mountain  */
.mountain-scene {
  position: relative; /* make it a reference frame for children*/
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.mountain-img {
  width: 100%;
  display: block;
}

.hiker-group {
  position: absolute;
  width: 20%;
  height: auto;
  top: 75%;
  left: 20%;
  transition:
    top 1s ease-in-out,
    left 1s ease-in-out;
}

.bubble:empty {
  display: none;
}

.hiker-img {
  width: 100%;
  display: block;
}

/* bubble CSS properties  */
.bubble {
  position: absolute;
  /* shared visual styles only — no positioning */
  background: white;
  color: black;
  padding: 8%;
  border-radius: 12px;
  font-size: 14px;
  white-space: normal;
}

.bubble-top {
  width:max-content;
  max-width:125%;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.bubble-right {
  top: 10%;
  left: 45%;
  white-space:nowrap;
  transform: translateY(-50%);
}

/* === Interests PAGE === */


.movie-card img {
  max-width: 100%;
  aspect-ratio: 2/3;
  display: block;
}
.movie-card figcaption {
  font-size: 0.8rem;
  text-align: center;
  color: grey;
  margin-top: 5px;
}

.movie-card h3 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.movies-heading {
  font-family: 'Limelight', cursive;
}

.games-heading {
  font-family: 'Press Start 2P', monospace;
}